@charset "UTF-8";
/*--Body--*/
body
{   
    margin: 0;
    padding: 0; 
    height: 200vh;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: black;
    
    /*Controls the size of the border itself*/
    border: 100px solid transparent;
    /*Sets image as border instead of background*/
    border-image: url("Images/Border.jpg") 550 round;
    
    box-sizing: border-box;
}
/*--Header--*/
header
{
    width: 100%;
    height: 20%;

    outline: 0.5rem solid  rgb(167, 29, 167);
    border-top-left-radius: 12vh;
    border-top-right-radius: 12vh;

    text-align: center;
}
header h1
{
    color: white;
    font-size: 6rem;

    -webkit-text-stroke: .40vh rgb(167, 29, 167);
}
/*--Banner--*/
div#banner
{
    height: 50%;
    width: 100%;

    outline: 0.5rem solid rgb(167, 29, 167);
}  
div#banner img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*--Section--*/
section
{
    height: 10%;
    width: 100%;

    outline: 0.5rem solid  rgb(167, 29, 167);
    
}
nav
{
    height: 85%;
    width: 100%;

    outline: 0.5rem solid white;
    background-color: rgb(167, 29, 167);
    font-size: 3rem;
    

    /*Adds equal spacing between objects in section*/
    gap: 8rem;
    /*Centers all objects in nav section*/
    justify-content: center;
    /*austomatically spaces, align and creates consistent behavior across all objects in section*/
    display: flex;
}
nav a
{
    color: white;
}
/*--Footer--*/
footer
{
    width: 100%;
    height: 20%;

    border-bottom-left-radius: 12vh;
    border-bottom-right-radius: 12vh;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;

    outline: 0.5rem solid  rgb(167, 29, 167);
    box-sizing: border-box;
}
.info
{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

    min-width: 0;
}
.info h1
{ 
    font-size: 2.35rem;
    color: white;
    
    margin: 0.5rem;
}
.info p
{
    color: white;
}
/*hours*/
#hours, #Wdays, #Wends
{
    text-align: left;
}
/*Format days to appear side by side instead of vertically*/
#daysformat
{
    display: flex;
    margin: -0.1rem;
    gap: 2rem;
}
/*contact*/
#contact, #phone
{
    text-align: center;
}
/*about*/
#about, #description
{
    text-align: right;
}
/*links img*/
.info img
{
    height: 5vh;
    width: 5vh;
    margin: 0.3rem;
}
#x
{
    height: 4.80vh;
    width: 4.80vh;

    outline: 0.20vh solid white;
}